@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

body {
  /* background: url("https://i.imgur.com/kk76J5I.jpg") no-repeat top center; */
  /* background-size: cover;
  height: 100vh; */

  background-color: black;
}

#navbar {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: space-evenly;
  background-color: rgb(34 73 148);
  color: white;
  padding: 2vh 0vh;
  font-size: 4vh;
  box-sizing: border-box;
}

#navbar > div {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  padding: 1vw 3vw;
  transition-duration: 0.5s;
}

#navbar > div:hover {
  transition-duration: 0.5s;
  color: green;
  border-radius: 10px;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 550px;
  background: rgba(87, 78, 78, 0.386);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.wrapper .title h1 {
  color: #c5ecfd;
  text-align: center;
  margin-bottom: 25px;
}

.contact-form {
  display: flex;
}

.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields,
.msg {
  width: 48%;
}

.input-fields .input,
.msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}

.msg textarea {
  height: 212px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c5ecfd;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #c5ecfd;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #c5ecfd;
}

.btn {
  background: #39b7dd;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .contact-form {
    flex-direction: column;
  }
  .msg textarea {
    height: 80px;
  }
  .input-fields,
  .msg {
    width: 100%;
  }
}

.faqs {
  background-color: #000000eb;
}

.faqs h1 {
  font-family: "Baloo Bhaijaan 2", cursive;
  color: white;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
}

.faqs p {
  font-family: "Ubuntu", sans-serif;
  color: white;
  font-weight: 300;
}

.button {
  padding: 5px;
  border-radius: 66px;
  background-color: #000000eb;
  color: white;
  border: none;
  cursor: pointer;
}

.info {
  background-color: rgb(34 73 148);
  margin: 1rem;
  padding: 10px;
  border-radius: 15px;
}

.para {
  display: none;
  font-family: "Ubuntu", sans-serif;
}

.query {
  text-align: center;
}

.contactbtn {
  padding: 5px;
  border-radius: 66px;
  color: white;
  border: none;
  cursor: pointer;
  background-color: rgb(34 73 148);
  font-family: "Baloo Bhaijaan 2", cursive;
  font-size: 1.2rem;
}

#qpara {
  color: white;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Baloo Bhaijaan 2", cursive;
}
